
    @{
        ViewBag.Title = "VacationSearch";
    }

    <!-- Section: Search -->
    <section id="search" class="section section-search teal darken-1 white-text center scrollspy">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>Search Destinations</h3>
                    <div class="input-field">
                        @using (Ajax.BeginForm("VacationSearchPartial", "Home",
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            UpdateTargetId = "vacations"
                        }))
                        {
                            <input type="text" class="white grey-text autocomplete" id="autocomplete-input" placeholder="Paris, London, etc..." name="search">
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section: Vacations -->
    <section class="section section-popular scrollspy">
        <div class="container">
            <div class="row" id="vacations">
                
            </div>
        </div>
    </section>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>    
}