@model TravelAgency.Models.TravelAgency.Vacation

@{
    ViewBag.Title = "VacationDetails";
}


<link rel="stylesheet" href="~/Content/vacationDetails.css">
<style>
    .view-source {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
    }
</style>
<div class="row">
    <div class="demo-ribbon teal darken-1"></div>
    <div class="demo-layout">
        <main class="demo-main">
            <div class="demo-container">
                <div class="col s12 m4" style="width:80%; margin-left:10%">
                    <div class="card">
                        <div class="card-image">
                            <img src="@Model.ImageUrl" alt="" overflow: hidden">
                            <span class="card-title" style="font-weight:bolder">@Html.ActionLink(Model.City + ", " + Model.Country, "VacationDetails", "Home", new { id = Model.VacationId }, new { @class = "white-text" })</span>
                        </div>
                        <div class="card-content">
                            @Model.LongDescription
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<a href="@Url.Action("VacationSearch", "Home")" class="waves-effect waves-light btn view-source">Back</a>
